<mat-nav-list>
    <ng-container *ngFor="let menuItem of routerList">
        <!-- Menu Item without Submenu -->
        <mat-list-item *ngIf="!menuItem.submenu">
            <a [routerLink]="menuItem.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <mat-icon title="{{ menuItem.label }}">{{ menuItem.icon }}</mat-icon>
                <span *ngIf="!sidenavCollapsed()">
                    {{ menuItem.label }}
                </span>
            </a>
        </mat-list-item>

        <!-- Menu Item with Submenu -->
        <mat-expansion-panel *ngIf="menuItem.submenu">
            <mat-expansion-panel-header>
                <mat-icon title="{{ menuItem.label }}">{{ menuItem.icon }}</mat-icon>
                <span *ngIf="!sidenavCollapsed()">
                    {{ menuItem.label }}
                </span>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-list-item *ngFor="let submenu of menuItem.submenu">
                    <a [routerLink]="submenu.route" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon title="{{ submenu.label }}">{{ submenu.icon }}</mat-icon>
                        <span *ngIf="!sidenavCollapsed()">
                            {{ submenu.label }}
                        </span>
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
    </ng-container>
</mat-nav-list>