<!-- <div class="sidenav-header">
    <img src="image/pic.jpg" alt="Avtar" [height]="profilePicSize()" [width]="profilePicSize()">
    <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
        <h5>Rudra Patrika</h5>
        <p>Bishnu Behera</p>
    </div>
</div> -->

<mat-nav-list>
    @for (item of routerList; track item) {
    <a mat-list-item class="menu-item" [routerLink]="item.route" routerLinkActive="selected-menu-item"
        #rla="routerLinkActive" [activated]="rla.isActive">
        <mat-icon matListItemIcon
            [fontSet]="rla.isActive?'material-icons':'material-icons-outlined'">{{item.icon}}</mat-icon>
        @if(!sidenavCollapsed()){
        <span matListItemTitle> {{ item.label }}</span>
        }
    </a>
    }
</mat-nav-list>