<mat-card class="mat-card-bg">

    <mat-card-header>
        <mat-card-title>Stocks Management</mat-card-title>
    </mat-card-header>

    <div class="searchAdd">
        <!-- Search Section on the Left -->
        <mat-form-field class="example-form-field" appearance="outline" style="flex: 1; max-width: 300px;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search items">
        </mat-form-field>

        <!-- Add New Item Button on the Right -->
        <!-- <div>
            <button mat-raised-button color="primary" (click)="openAddItemDialog('add')">
                Add New Item
            </button>
        </div> -->
    </div>

    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <table mat-table [dataSource]="dataSource" matSort class="table table-hover">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
            <td mat-cell *matCellDef="let element">{{ element.item.name }}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="stockQuantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="isOutofStocks">
            <th mat-header-cell *matHeaderCellDef>Is OutofStock</th>
            <td mat-cell *matCellDef="let element">{{ element?.isOutOfStock }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="accent" (click)="openAddItemDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button> &nbsp;
                <button mat-mini-fab color="warn" (click)="deleteItem(element._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

</mat-card>