<h2 mat-dialog-title>{{ data ? 'Edit Item' : 'Add Item' }}</h2>

<form [formGroup]="itemForm" (ngSubmit)="save()">
    <mat-dialog-content>
        <!-- Item Name -->
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="itemForm.get('name')?.invalid">Name is required</mat-error>
        </mat-form-field>

        <!-- Price -->
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" />
            <mat-error *ngIf="itemForm.get('price')?.invalid">Valid price is required</mat-error>
        </mat-form-field>

        <!-- Category Dropdown -->
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category._id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="itemForm.get('category')?.invalid">Category is required</mat-error>
        </mat-form-field>

        <!-- Image -->
        <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput formControlName="image" placeholder="Enter Image URL" type="text">
            <mat-error *ngIf="itemForm.controls['image'].invalid && itemForm.controls['image'].touched">
                Image URL is required.
            </mat-error>
        </mat-form-field>

        <!-- Preview the image if available -->
        <img *ngIf="itemForm.value.image" [src]="itemForm.value.image" alt="Preview" width="100">

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? 'Update' : 'Save' }}</button>
    </mat-dialog-actions>
</form>