<h2 mat-dialog-title>{{ data ? 'Edit Item' : 'Add Item' }}</h2>

<form [formGroup]="itemForm" (ngSubmit)="save()">
    <mat-dialog-content>
        <!-- Item Name -->
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="itemForm.get('name')?.invalid">Name is required</mat-error>
        </mat-form-field>

        <!-- Price -->
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" />
            <mat-error *ngIf="itemForm.get('price')?.invalid">Valid price is required</mat-error>
        </mat-form-field>

        <!-- Category Dropdown -->
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category._id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="itemForm.get('category')?.invalid">Category is required</mat-error>
        </mat-form-field>

        <!-- Image URL with Increment Button in One Row -->
        <div style="display: flex; align-items: center; width: 100%;">
            <mat-form-field appearance="outline" style="flex: 1; margin-right: 8px;">
                <mat-label>Image URL</mat-label>
                <input matInput formControlName="image" placeholder="Enter Image URL" type="text">
                <mat-error *ngIf="itemForm.controls['image'].invalid && itemForm.controls['image'].touched">
                    Image URL is required.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" (click)="increment()">+</button>
        </div>

        <!-- preview image -->
        <div *ngIf="imageList.length > 0" style="display: flex;">  
            <div *ngFor="let image of imageList; let index = index" style="position: relative; margin-right: 10px;">  
                <p-image  [src]="image" alt="Item Image" width="100" class="imageStyle" [preview]="true" />
                
                <!-- Cross icon for removing the image -->  
                <button mat-icon-button (click)="decrement(index)"  type="button" 
                    style="position: absolute; top: 0; right: 0; z-index: 1;">  
                    <mat-icon color="warn">cancel</mat-icon>  
                </button>  
            </div>  
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? 'Update' : 'Save' }}</button>
    </mat-dialog-actions>
</form>