<mat-card>
    <mat-card-header>
        <mat-card-title>Category</mat-card-title>
    </mat-card-header>

    <div class="searchAdd">
        <!-- Search Section on the Left -->
        <mat-form-field class="example-form-field" appearance="outline" style="flex: 1; max-width: 300px;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search category">
        </mat-form-field>

        <!-- Add New category Button on the Right -->
        <div>
            <button mat-raised-button color="primary" (click)="openAddCategoryDialog('add')">
                Add New Category
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="table table-hover">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="openAddCategoryDialog(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCategory(element._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</mat-card>